/*
 * static/css/base.css
*/

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
*/

/* Reset the container */
body,
.navbar-static-top {
    min-width: 970px;
}

.container {
    width: 970px;
    max-width: none !important;
    padding: 0;
}

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/*
 * Custom Extra
*/
.navbar {
    margin-bottom: 40px;
}

.navbar-inverse {
    background-color: #444;
    border-color: black;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: black;
}

.container-fluid.content-head {
    box-shadow: 0px -1px 0px #ddd inset;
}

.content-head .page-header {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
}

.content-head h1 {
    margin: 0 0 20px 0;
}

.container .jumbotron {
    margin-bottom: 20px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

.section-header {
    margin: 40px 0 20px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
}

.panel {
    box-shadow: none;
}

.panel-body {
    padding: 15px;
}

.panel-body h1 {
    margin: 40px 0 10px 0;
}

.panel .table {
    margin-bottom: 0;
}

.lead {
    font-size: 16px;
}

.w880h400 {
    width: 880px;
    height: 400px;
    margin: 20px 0 20px 0;
}

.chart {
    width: 100%;
    height: 430px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.footer {
    width: 100%;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 100;
}

.footer > .container {
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}

.footer ul {
    margin-left: -12px;
    padding-left: 0;
    list-style-type: none;
}

.footer ul > li {
    display: inline;
    margin-left: 12px;
}

small {
    font-size: 50%;
    vertical-align: 30%;
}

.heading-label {
    display: inline;
    padding: .2em .5em .2em .5em;
    font-size: 60%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    background-color: #5cb85c;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
}

