{% extends 'stock/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ stock.name }} : 주식 : Havister">
    <meta name="keywords" content="{{ stock.name }} 주식">
{% endblock %}

{% block title %}{{ stock.name }} : 주식 : Havister{% endblock %}

{% block tab_cycle %}active{% endblock %}

{% block content_body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">전환 차트<small>&nbsp; : 전환별 경과일과 변화를 통해, 순환 <mark>주기</mark>와 <mark>진폭</mark> 분석</small></h3>
      <div id="chart" class="chart">
      </div>

      {% if alpha_list %}
      <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>전환</th>
          <th>기준일</th>
          <th>마감일</th>
          <th>경과일</th>
          <th>마감 주가</th>
          <th>변화</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for a in alpha_list reversed %}
        <tr>
          <td>{{ forloop.revcounter }}차</td>
          <td>{{ a.base_date|date:'Y-m-d' }}</td>
          <td>{{ a.close_date|date:'Y-m-d' }}</td>
          <td>{{ a.period }}</td>
          <td class="text-right">{{ a.close }}</td>
          <td class="text-right">{{ a.change }} <span class="text-muted">%</span></td>
          <td>{% if a.certainty %}확정{% else %}진행{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% endif %}
    </div>
    {% endif %}
{% endblock content_body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addColumn({type: 'boolean', role: 'certainty'});
        data.addRows([
          {% for d in detail_list %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y-m-d' }}'},
            {{ d.close }},
            {% if forloop.counter0 %}'{{ forloop.counter0 }}차'{% else %}null{% endif %},
            '{{ d.date|date:'Y년 n월 j일' }}\n마감: {{ d.close }}\n변화: {{ d.change }}%',
            {% if d.certainty %}true{% else %}false{% endif %}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          colors: ['#dc3912'],
          backgroundColor: '#f9f9f9',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomIn: 0.25, maxZoomOut: 1.5, zoomDelta: 1.5},
          pointShape: 'circle',
          pointSize: 8,
          legend: {position: 'none'}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

