{% extends 'stock/base.html' %}

{% load humanize %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ stock.name }} : 주식 : Havister">
    <meta name="keywords" content="{{ stock.name }} 주식">
{% endblock %}

{% block title %}{{ stock.name }} : 주식 : Havister{% endblock %}

{% block tab_cycle %}active{% endblock %}

{% block content_body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h2 class="section-header">전환 차트<sup><small> &nbsp; 순환 주기와 진폭 확인</small></sup></h2>
      <div id="chart" class="chart">
      </div>

      {% if alpha_list %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th class="active">차수</th>
          <th>기준일</th>
          <th>마감일</th>
          <th>경과일</th>
          <th>마감 주가</th>
          <th>수익률</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for a in alpha_list reversed %}
        <tr>
          <td class="active">{{ forloop.revcounter }}차</td>
          <td>{{ a.base_date|date:'Y-m-d' }}</td>
          <td>{{ a.close_date|date:'Y-m-d' }}</td>
          <td>{{ a.period }}</td>
          <td class="{% if a.change > 0 %}text-up{% elif a.change < 0 %}text-down{% endif %}">{{ a.close|intcomma }}</td>
          <td class="{% if a.change > 0 %}text-up{% elif a.change < 0 %}text-down{% endif %}">
            {% if a.change > 0 %}+{% endif %}{{ a.change|intcomma }}%</td>
          <td><span class="{% if not a.certainty %}text-muted{% endif %}">{{ a.certainty|yesno:'확정,진행' }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% endif %}
    </div>
    {% endif %}
{% endblock content_body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addColumn({type: 'boolean', role: 'certainty'});
        data.addRows([
          {% for d in detail_list %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y-m-d' }}'},
            {{ d.close }},
            {% if forloop.counter0 %}'{{ forloop.counter0 }}차'{% else %}null{% endif %},
            '{{ d.date|date:'Y년 n월 j일' }}\n마감: {{ d.close|intcomma }}\n변화: {{ d.change|intcomma }}%',
            {% if d.certainty %}true{% else %}false{% endif %}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          colors: ['#dc3912'],
          backgroundColor: 'white',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년', viewWindow: {max: new Date({{ max_date|date:'Y,n,j' }})}},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: true, maxZoomIn: 0.25, maxZoomOut: 1.0, zoomDelta: 1.5},
          pointShape: 'circle',
          pointSize: 8,
          legend: {position: 'none'}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

