{% extends 'base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="Havister Stock, 하비스터 주식">
    <meta name="keywords" content="Stock, 주식">
{% endblock %}

{% block title %}주식 : Havister{% endblock %}

{% block extra_style %}
    <!-- Extra style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block nav_stock %}active{% endblock %}

{% block content_head %}
    <!-- Content head -->
    <div class="container content-head">
      <h1>주식<sup><small> &nbsp; 개별 주식 선물 &middot; 옵션의 기초 주식들</small></sup></h1>
    </div>
{% endblock content_head %}

{% block content_body %}
    <!-- Content body -->
    <div class="container">
      {% if stock_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-muted">#</th>
              <th>국가</th>
              <th>시장</th>
              <th>종목</th>
              <th>선물</th>
              <th>옵션</th>
              <th>월간</th>
              <th>순환</th>
              <th>만기</th>
            </tr>
          </thead>
          <tbody>
            {% for stock in stock_list %}
            <tr>
              <td class="text-muted">{{ forloop.counter }}</td>
              <td>{{ stock.country }}</td>
              <td>{{ stock.market }}</td>
              <td>{{ stock.name }}</td>
              <td>{% if stock.future %}&nbsp; <i class="material-icons check">check</i>{% endif %}</td>
              <td>{% if stock.option %}&nbsp; <i class="material-icons check">check</i>{% endif %}</td>
              <td><a href="{% url 'stock:month' stock.slug %}">차트</a></td>
              <td><a href="{% url 'stock:cycle' stock.slug %}">차트</a></td>
              <td>{% if stock.option %}<a href="{% url 'stock:expiration' stock.slug %}">차트</a>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock content_body %}

