{% extends 'stock/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ stock.name }} : 주식 : Havister">
    <meta name="keywords" content="{{ stock.name }} 주식">
{% endblock %}

{% block title %}{{ stock.name }} : 주식 : Havister{% endblock %}

{% block tab_month %}active{% endblock %}

{% block content_body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">월간 차트<small>&nbsp; : 기간별 <mark>변동성</mark>과 <mark>성장률</mark> 분석</small></h3>
      <div id="chart" class="chart">
      </div>

      {% if alpha_list %}
      <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>기간</th>
          <th>최고 주가</th>
          <th>: 변화</th>
          <th>최저 주가</th>
          <th>: 변화</th>
          <th>마감 주가</th>
          <th>: 변화</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for a in alpha_list %}
        <tr>
          <td class="text-center">{{ a.year }}년</td>
          <td>{{ a.high }}</td>
          <td>{{ a.high_change }} <span class="text-muted">%</span></td>
          <td>{{ a.low }}</td>
          <td>{{ a.low_change }} <span class="text-muted">%</span></td>
          <td>{{ a.close }}</td>
          <td>{{ a.close_change }} <span class="text-muted">%</span></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% endif %}
    </div>
    {% endif %}
{% endblock content_body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type:'string', role:'style'});
        data.addColumn({type:'string', role:'annotation'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
          {% for d in detail_list %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y년 n월' }}'},
            {{ d.close }}, null, null,
            '{{ d.date|date:'Y년 n월' }}\n마감: {{ d.close }}\n변화: {{ d.change }}%'],
          {% endfor %}
        ]);

        {% if alpha_list %}
        // get annotation date
        var years = [];
        var first_dates = [];
        {% for a in alpha_list %}
        years.push('{{ a.year }}년');
        first_dates.push((new Date({{ a.first_date|date:'Y,n,j' }})).getTime());
        {% endfor %}
        var rows = data.getNumberOfRows();
        var ri = rows - 1;
        var len = years.length;
        // set annotation
        for (i = 0; i < len; i++) {
          for (; ri >= 0; ri--) {
            if (first_dates[i] === data.getValue(ri, 0).getTime()) {
              data.setValue(ri, 2, 'point { shape-type: circle; size: 5; visible: true');
              data.setValue(ri, 3, years[i]);
              break;
            }
          }
        }
        {% endif %}

        var options = {
          width: 970,
          height: 429,
          backgroundColor: '#f9f9f9',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomIn: 0.25, maxZoomOut: 1.5, zoomDelta: 1.5},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

