{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block tab_cycle %}active{% endblock %}

{% block content-body %}
    {% if cycle_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">전환 차트<small>&nbsp; : 전환별 경과일과 변화율을 통해, 순환 주기와 진폭을 분석합니다.</small></h3>
      <div id="cycle-chart" class="chart">
      </div>

      {% if summary_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
          <thead>
            <tr>
              <th>전환</th>
              <th class="active">상태</th>
              <th>기준일</th>
              <th class="active">: 지수</th>
              <th>마감일</th>
              <th class="active">: 지수</th>
              <th>경과일</th>
              <th class="active">변화율</th>
            </tr>
          </thead>
          <tbody class="text-right">
            {% for summary in summary_list %}
            <tr>
              <td class="text-left"><strong>{{ forloop.counter }}차</strong></td>
              <td class="active text-left">{% if summary.fix %}확정{% else %}진행{% endif %}</td>
              <td class="text-center">{{ summary.base_date|date:'Y-m-d' }}</td>
              <td class="active"><strong>{{ summary.base }}</strong></td>
              <td class="text-center">{{ summary.close_date|date:'Y-m-d' }}</td>
              <td class="active"><strong>{{ summary.close }}</strong></td>
              <td class="text-center">{{ summary.period }}</td>
              <td class="active"><strong>{{ summary.change }}</strong>%</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div><!--/.panel-body -->
      </div><!--/.panel -->
      {% endif %}
    </div>
    {% endif %}
{% endblock content-body %}

{% block extra_script %}
    {% if cycle_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCycleChart);

      function drawCycleChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'annotationText'});
        data.addColumn({type: 'boolean', role: 'certainty'});
        data.addRows([
          {% for cycle in cycle_list %}
          [{v:new Date({{ cycle.date|date:'Y,n,j' }}), f:'{{ cycle.date|date:'Y년 n월 j일' }}'},
            {{ cycle.close }}, '{{ forloop.counter0 }}차', '{{ cycle.change }}%',
            {% if cycle.fix %}true{% else %}false{% endif %}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          colors: ['#dc3912'],
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomIn: 0.25, maxZoomOut: 1.5, zoomDelta: 1.5},
          legend: 'none'
        };
        var chart = new google.visualization.AreaChart(document.getElementById('cycle-chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

