{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="container">
      <h1 class="page-header">{{ index.name }} <small>({{ index.code }})</small></h1>
      <div class="well">{{ index.about|linebreaksbr }}</div>
    </div>
    {% if month_list %}
    <div class="container">
      <h3 class="page-header">영역 차트 <small>Area Chart</small></h3>
      <div id="month-chart" class="chart-area">
      </div>
    </div>
    {% endif %}
    </div>
{% endblock content %}

{% block extra_script %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% if month_list %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Month');
        data.addColumn('number', 'Point');

        data.addRows([
          {% for month in month_list %}
          [{v:new Date({{ month.date|date:'Y,n,j' }}), f:'{{ month.date|date:'Y'}}년 {{ month.date|date:'n'}}월'}, {{ month.close }}],
          {% endfor %}
        ]);
        var options = {
          width: 1140,
          height: 500,
          chartArea: {left: 70, top: 10, width: 1070, height: 450},
          crosshair: {color: 'black', trigger: 'selection'},
          legend: 'none',
          hAxis: {format: 'y년'},
          vAxis: {viewWindowMode: 'max'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock %}

