{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="container">
      <h1 class="page-header">{{ index.name }}</h1>
      <p>{{ index.about|linebreaksbr }}</p>
    </div>

    {% if month_list %}
    <div class="container">
      <h3 class="section-header">월간 차트 <small>: 기본 분석</small></h3>
      <div id="month-chart" class="chart">
      </div>

      {% if month_summary_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
          <thead>
            <tr>
              <th>기간</th>
              <th class="info">기준</th>
              <th>고가</th>
              <th class="active">: 차이</th>
              <th class="danger">: 변동</th>
              <th>저가</th>
              <th class="active">: 차이</th>
              <th class="danger">: 변동</th>
              <th>종가</th>
              <th class="active">: 차이</th>
              <th class="danger">: 변동</th>
            </tr>
          </thead>
          <tbody class="text-right">
            {% for summary in month_summary_list %}
            <tr>
              <td class="text-left">{{ summary.year }}년</td>
              <td class="info">{{ summary.base }}</td>
              <td>{{ summary.high }}</td>
              <td class="active">{{ summary.high_diff }}</td>
              <td class="danger">{{ summary.high_change }}%</td>
              <td>{{ summary.low }}</td>
              <td class="active">{{ summary.low_diff }}</td>
              <td class="danger">{{ summary.low_change }}%</td>
              <td>{{ summary.close }}</td>
              <td class="active">{{ summary.close_diff }}</td>
              <td class="danger">{{ summary.close_change }}%</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if reversal_list %}
    <div class="container">
      <h3 class="section-header">전환 차트 <small>: 고점 대비 -30% 이하 하락</small></h3>
      <div id="reversal-chart" class="chart">
      </div>
    </div>
    {% endif %}
{% endblock content %}

{% block extra_script %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});

      {% if month_list %}
      google.charts.setOnLoadCallback(drawMonthChart);

      function drawMonthChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addRows([
          {% for month in month_list %}
          [{v:new Date({{ month.date|date:'Y,n,j' }}), f:'{{ month.date|date:'Y'}}년 {{ month.date|date:'n'}}월'}, {{ month.close }}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomOut: 1},
          legend: 'none'
        };
        var chart = new google.visualization.AreaChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
      {% endif %}

      {% if reversal_list %}
      google.charts.setOnLoadCallback(drawReversalChart);

      function drawReversalChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'boolean', role: 'certainty'});
        data.addRows([
          {% for reversal in reversal_list %}
          [{v:new Date({{ reversal.date|date:'Y,n,j' }}), f:'{{ reversal.date|date:'Y'}}년 {{ reversal.date|date:'n'}}월'},
            {{ reversal.close }}, '{{ reversal.change }}%', true],
          {% endfor %}
        ]);
        lastRowIndex = data.getNumberOfRows() - 1;
        lastColIndex = data.getNumberOfColumns() - 1;
        data.setValue(lastRowIndex, lastColIndex, false);

        var options = {
          width: 970,
          height: 429,
          colors: ['#109618'],
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomOut: 1},
          annotations: {textStyle: {bold: true}},
          legend: 'none'
        };
        var chart = new google.visualization.AreaChart(document.getElementById('reversal-chart'));
        chart.draw(data, options);
      }
      {% endif %}
    </script>
{% endblock %}

