{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="container">
      <h1 class="page-header">{{ index.name }} <small>({{ index.code }})</small></h1>
      <p>{{ index.about|linebreaksbr }}</p>
    </div>
    {% if month_list %}
    <div class="container">
      <h3 class="section-header">월간 차트 <small>: 기본 분석</small></h3>
      <div id="month-chart" class="chart">
      </div>
    </div>
    {% endif %}
    </div>
{% endblock content %}

{% block extra_script %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% if month_list %}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addRows([
          {% for month in month_list %}
          [{v:new Date({{ month.date|date:'Y,n,j' }}), f:'{{ month.date|date:'Y'}}년 {{ month.date|date:'n'}}월'}, {{ month.close }}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: true, maxZoomOut: 1},
          legend: 'none'
        };

        var chart = new google.visualization.AreaChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock %}

