{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block tab_expiration %}active{% endblock %}

{% block content_body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">만기 월간 차트<small>&nbsp; : 만기일 기준 <mark>변동성</mark>과 파생 상품의 <mark>행사가</mark> 분석</small></h3>
      <div id="chart" class="chart">
      </div>

      <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>월차</th>
          <th>만기일</th>
          <th>최고 지수</th>
          <th>최저 지수</th>
          <th>마감 지수</th>
          <th>변화</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for d in detail_list %}
        <tr>
          <td class="text-center">{{ d.date|date:'Y년 n월' }}</td>
          <td class="text-center">{{ d.date|date:'Y-m-d' }}</td>
          <td>{{ d.high }}</td>
          <td>{{ d.low }}</td>
          <td>{{ d.close }}</td>
          <td>{{ d.change }} <span class="text-muted">%</span></td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>

    <div class="container">
      <h3 class="section-header">만기 변화율 분포<small>&nbsp; : 최근 <mark>{{ period }}</mark> 개월간</small></h3>
      <div class="chart clearfix">
        {% if alpha_list %}
        <div id="chart-pie" class="pull-left">
        </div>
        {% endif %}
        {% if beta_list %}
        <div id="histogram" class="pull-right">
        </div>
        {% endif %}
      </div><!--/.row -->
    </div>
    {% endif %}
{% endblock content_body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
          {% for d in detail_list reversed %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y-m-d' }}'},
            {{ d.low }}, {{ d.open }}, {{ d.close }}, {{ d.high }},
            '{{ d.date|date:'Y년 n월차' }}\n시작: {{ d.open }}\n최고: {{ d.high }}\n최저: {{ d.low }}\n마감: {{ d.close }}\n변화: {{ d.change }}%'],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          bar: { groupWidth: '90%' },
          colors: ['#109618'],
          backgroundColor: '#f9f9f9',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          hAxis: {format: 'y년 M월'},
          vAxis: {textPosition: 'in'},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.CandlestickChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

      {% if alpha_list %}
      google.charts.setOnLoadCallback(drawPieChart);
      function drawPieChart() {
        var data = new google.visualization.arrayToDataTable([
          ['Level', 'Count'],
          {% for a in alpha_list %}
          ['{{ a.level }}', {{ a.count }}],
          {% endfor %}
        ]);
        var options = {
          width: 570,
          height: 429,
          backgroundColor: '#f9f9f9',
          chartArea: {left: 15, top: 15, width: '100%', height: 400},
          legend: {position: 'right', alignment: 'center', textStyle: {fontSize: 14}}
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart-pie'));
        chart.draw(data, options);
      }
      {% endif %}

      {% if beta_list %}
      google.charts.setOnLoadCallback(drawHistogram);
      function drawHistogram() {
        var data = new google.visualization.arrayToDataTable([
          ['Change'],
          {% for b in beta_list %}
          [{{ b.change }} * 0.01],
          {% endfor %}
        ]);
        var options = {
          width: 400,
          height: 429,
          bar: { gap: 1 },
          colors: ['darkslategray'],
          backgroundColor: '#f9f9f9',
          chartArea: {left: 0, top: 20, width: '100%', height: 365},
          hAxis: {format: 'percent'},
          vAxis: {textPosition: 'in'},
          histogram: { bucketSize: 0.05 },
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomIn: 1.0, maxZoomOut: 1.5, zoomDelta: 1.5},
          legend: {position: 'none'}
        };
        var formatter = new google.visualization.NumberFormat({pattern: '##.##%'});
        formatter.format(data, 0);
        var chart = new google.visualization.Histogram(document.getElementById('histogram'));
        chart.draw(data, options);
      }
      {% endif %}
    </script>
    {% endif %}
{% endblock extra_script %}

