{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block tab_expiration %}active{% endblock %}

{% block content-body %}
    {% if expiration_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">만기 월간 차트<small>&nbsp; : 만기일 기준 월간 지수를 통해, 파생 상품의 변동성과 행사가를 분석합니다.</small></h3>
      <div id="chart-main" class="chart">
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
          <thead>
            <tr>
              <th>월차</th>
              <th class="active">만기일</th>
              <th>기준 지수</th>
              <th class="active">최고 지수</th>
              <th>최저 지수</th>
              <th class="active">마감 지수</th>
              <th>변화</th>
              <th class="active">변화율</th>
            </tr>
          </thead>
          <tbody class="text-right">
            {% for e in expiration_list %}
            <tr>
              <td class="text-left">{{ e.date|date:'Y년 n월' }}</td>
              <td class="active text-center"><strong>{{ e.date|date:'Y-m-d' }}</strong></td>
              <td>{{ e.base }}</td>
              <td class="active">{{ e.high }}</td>
              <td>{{ e.low }}</td>
              <td class="active"><strong>{{ e.close }}</strong></td>
              <td>{{ e.diff }}</td>
              <td class="active"><strong>{{ e.change }}</strong>%</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div><!--/.panel-body -->
      </div><!--/.panel -->

      {% if summary_list %}
      <h3 class="section-header">변화율 분포 차트<small>&nbsp; : 지난 10년간의 만기 월간 변화율 분포를 분석합니다.</small></h3>
      <div id="chart-sub" class="chart">
      </div>
      {% endif %}
    </div>
    {% endif %}
{% endblock content-body %}

{% block extra_script %}
    {% if expiration_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawMainChart);
      google.charts.setOnLoadCallback(drawSubChart);

      function drawMainChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addRows([
          {% for e in expiration_list reversed %}
          [{v:new Date({{ e.date|date:'Y,n,j' }}), f:'{{ e.date|date:'Y년 n월 j일' }}'},
            {{ e.low }},
            {{ e.open }},
            {{ e.close }},
            {{ e.high }}],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          bar: { groupWidth: '90%' },
          colors: ['#109618'],
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          hAxis: {format: 'y년 M월'},
          vAxis: {textPosition: 'in'},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.CandlestickChart(document.getElementById('chart-main'));
        chart.draw(data, options);
      }

      {% if summary_list %}
      function drawSubChart() {
        var data = new google.visualization.arrayToDataTable([
          ['Level', 'Count'],
          {% for summary in summary_list %}
          ['{{ summary.level }}', {{ summary.count }}],
          {% endfor %}
        ]);
        var options = {
          width: 750,
          height: 429,
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 15, width: 970, height: 400},
          legend: {position: 'right', alignment: 'center'}
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart-sub'));
        chart.draw(data, options);
      }
      {% endif %}
    </script>
    {% endif %}
{% endblock extra_script %}

