{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block tab_expiration %}active{% endblock %}

{% block content-body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">만기 월간 차트<small>&nbsp; : 만기일 기준 월간 지수를 통해, 파생 상품의 변동성과 행사가를 분석합니다.</small></h3>
      <div id="chart" class="chart">
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
          <thead>
            <tr>
              <th>월차</th>
              <th class="active">만기일</th>
              <th>기준 지수</th>
              <th class="active">최고 지수</th>
              <th>최저 지수</th>
              <th class="active">마감 지수</th>
              <th>변화</th>
              <th class="active">변화율</th>
            </tr>
          </thead>
          <tbody class="text-right">
            {% for d in detail_list %}
            <tr>
              <td class="text-left">{{ d.date|date:'Y년 n월' }}</td>
              <td class="active text-center"><strong>{{ d.date|date:'Y-m-d' }}</strong></td>
              <td>{{ d.base }}</td>
              <td class="active">{{ d.high }}</td>
              <td>{{ d.low }}</td>
              <td class="active"><strong>{{ d.close }}</strong></td>
              <td>{{ d.diff }}</td>
              <td class="active"><strong>{{ d.change }}</strong>%</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div><!--/.panel-body -->
      </div><!--/.panel -->

      <h3 class="section-header">변화율 분포 차트<small>&nbsp; : 최근 10년간의 만기 월간 변화율을 분석합니다.</small></h3>
      <div class="chart clearfix">
        {% if alpha_list %}
        <div id="chart-pie" class="pull-left">
        </div>
        {% endif %}
        {% if beta_list %}
        <div id="histogram" class="pull-right">
        </div>
        {% endif %}
      </div><!--/.row -->
    </div>
    {% endif %}
{% endblock content-body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
          {% for d in detail_list reversed %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y-m-d' }}'},
            {{ d.low }}, {{ d.open }}, {{ d.close }}, {{ d.high }},
            '{{ d.date|date:'Y년 n월차' }}\n시가: {{ d.open }}\n고가: {{ d.high }}\n저가: {{ d.low }}\n종가: {{ d.close }}\n변화: {{ d.change }}%'],
          {% endfor %}
        ]);
        var options = {
          width: 970,
          height: 429,
          bar: { groupWidth: '90%' },
          colors: ['#109618'],
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: 970, height: 400},
          hAxis: {format: 'y년 M월'},
          vAxis: {textPosition: 'in'},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.CandlestickChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

      {% if alpha_list %}
      google.charts.setOnLoadCallback(drawPieChart);
      function drawPieChart() {
        var data = new google.visualization.arrayToDataTable([
          ['Level', 'Count'],
          {% for a in alpha_list %}
          ['{{ a.level }}', {{ a.count }}],
          {% endfor %}
        ]);
        var options = {
          width: 570,
          height: 429,
          backgroundColor: '#f5f5f5',
          chartArea: {left: 15, top: 15, width: '100%', height: 400},
          legend: {position: 'right', alignment: 'center', textStyle: {fontSize: 14}}
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart-pie'));
        chart.draw(data, options);
      }
      {% endif %}

      {% if beta_list %}
      google.charts.setOnLoadCallback(drawHistogram);
      function drawHistogram() {
        var data = new google.visualization.arrayToDataTable([
          ['Change'],
          {% for b in beta_list %}
          [{{ b.change }} * 0.01],
          {% endfor %}
        ]);
        var options = {
          width: 400,
          height: 429,
          bar: { gap: 1 },
          colors: ['darkslategray'],
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          hAxis: {format: 'percent'},
          vAxis: {textPosition: 'in'},
          histogram: { bucketSize: 0.05 },
          legend: {position: 'none'}
        };
        var formatter = new google.visualization.NumberFormat({pattern: '##.##%'});
        formatter.format(data, 0);
        var chart = new google.visualization.Histogram(document.getElementById('histogram'));
        chart.draw(data, options);
      }
      {% endif %}
    </script>
    {% endif %}
{% endblock extra_script %}

