{% extends 'base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="Havister Index, 하비스터 지수">
    <meta name="keywords" content="Index, 지수">
{% endblock %}

{% block title %}지수 : Havister{% endblock %}

{% block nav_index %}active{% endblock %}

{% block content-head %}
    <!-- Content head -->
    <div class="container content-head">
      <h1 class="page-header">지수<small>&nbsp; : Index</small></h1>
      <div class="alert alert-info" role="alert">
        <strong>지수 선정!</strong> &nbsp;
        시장 종합 지수들과 &nbsp;선물 &middot; 옵션 &middot; ETF의 기초로 활용되는 지수들을 선정하여 분석합니다.
      </div>
    </div>
{% endblock content-head %}

{% block content-body %}
    <!-- Content body -->
    <div class="container">
      {% if index_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped">
          <thead>
            <tr>
              <th>지수</th>
              <th>국가</th>
              <th>시장</th>
              <th>선물</th>
              <th>옵션</th>
              <th>ETF</th>
            </tr>
          </thead>
          <tbody>
            {% for index in index_list %}
            <tr>
              <td><a href="{% url 'index:month' index.slug %}">{{ index.name }}</a></td>
              <td>{{ index.country }}</td>
              <td>{% if index.market %}종합{% endif %}</td>
              <td>{% if index.future %}기초{% endif %}</td>
              <td>{% if index.option %}기초{% endif %}</td>
              <td>{% if index.etf %}기초{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock content-body %}

