{% extends 'base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="Havister Index, 하비스터 지수">
    <meta name="keywords" content="Index, 지수">
{% endblock %}

{% block title %}주가 지수 : Havister{% endblock %}

{% block extra_style %}
    <!-- Extra style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block nav_index %}active{% endblock %}

{% block content_head %}
    <!-- Content head -->
    <div class="container content-head">
      <h1>주가 지수<sup><small> &nbsp; 선물 &middot; 옵션 &middot; ETF의 기초 지수들</small></sup></h1>
    </div>
{% endblock content_head %}

{% block content_body %}
    <!-- Content body -->
    <div class="container">
      {% if index_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-muted">#</th>
              <th>국가</th>
              <th>구분</th>
              <th>지수</th>
              <th>선물</th>
              <th>옵션</th>
              <th>ETF</th>
              <th>월간</th>
              <th>순환</th>
              <th>만기</th>
            </tr>
          </thead>
          <tbody>
            {% for index in index_list %}
            <tr>
              <td class="text-muted">{{ forloop.counter }}</td>
              <td>{{ index.country }}</td>
              <td>{{ index.type }}</td>
              <td>{{ index.name }}</td>
              <td>{% if index.future %}&nbsp; <i class="material-icons check">check</i>{% endif %}</td>
              <td>{% if index.option %}&nbsp; <i class="material-icons check">check</i>{% endif %}</td>
              <td>{% if index.etf %}&nbsp; <i class="material-icons check">check</i>{% endif %}</td>
              <td><a href="{% url 'index:month' index.slug %}">차트</a></td>
              <td><a href="{% url 'index:cycle' index.slug %}">차트</a></td>
              <td>{% if index.option %}<a href="{% url 'index:expiration' index.slug %}">차트</a>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
{% endblock content_body %}

