{% extends 'index/base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : Index : Havister">
    <meta name="keywords" content="{{ index.name }} Index">
{% endblock %}

{% block title %}{{ index.name }} : Index : Havister{% endblock %}

{% block tab_month %}active{% endblock %}

{% block content-body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h3 class="section-header">월간 차트<small>&nbsp; : 기간별 변동성과 성장률을 분석합니다.</small></h3>
      <div id="chart" class="chart">
      </div>

      {% if alpha_list %}
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
          <thead>
            <tr>
              <th class="active">기간</th>
              <th>기준</th>
              <th class="active">: 지수</th>
              <th>최고 지수</th>
              <th class="active">: 변화율</th>
              <th>최저 지수</th>
              <th class="active">: 변화율</th>
              <th>마감 지수</th>
              <th class="active">: 변화율</th>
            </tr>
          </thead>
          <tbody class="text-right">
            {% for a in alpha_list %}
            <tr>
              <td class="active text-left"><strong>{{ a.year }}년</strong></td>
              <td class="text-center">{{ a.base_date|date:'Y-m-d' }}</td>
              <td class="active">{{ a.base }}</td>
              <td>{{ a.high }}</td>
              <td class="active"><strong>{{ a.high_change }}</strong>%</td>
              <td>{{ a.low }}</td>
              <td class="active"><strong>{{ a.low_change }}</strong>%</td>
              <td>{{ a.close }}</td>
              <td class="active"><strong>{{ a.close_change }}</strong>%</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div><!--/.panel-body -->
      </div><!--/.panel -->
      {% endif %}
    </div>
    {% endif %}
{% endblock content-body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type:'string', role:'annotation'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
          {% for d in detail_list %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y년 n월' }}'},
            {{ d.close }}, null,
            '{{ d.date|date:'Y년 n월' }}\n{{ d.close }} ({{ d.change }}%)'],
          {% endfor %}
        ]);

        {% if alpha_list %}
        // get annotation date
        var years = [];
        var base_dates = [];
        {% for a in alpha_list %}
        years.push('{{ a.year }}년');
        base_dates.push((new Date({{ a.base_date|date:'Y,n,j' }})).getTime());
        {% endfor %}
        var rows = data.getNumberOfRows();
        var ri = rows - 1;
        var len = years.length;
        // reset annotation
        for (i = 0; i < len; i++) {
          for (; ri >= 0; ri--) {
            if (base_dates[i] === data.getValue(ri, 0).getTime()) {
              data.setValue(ri, 2, years[i]);
              break;
            }
          }
        }
        {% endif %}

        var options = {
          width: 970,
          height: 429,
          backgroundColor: '#f5f5f5',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년'},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: false, maxZoomIn: 0.25, maxZoomOut: 1.0, zoomDelta: 1.5},
          annotations: {stem: {color: '#333'}},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

