{% extends 'index/base.html' %}

{% load humanize %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="{{ index.name }} : 지수 : Havister">
    <meta name="keywords" content="{{ index.name }} 지수">
{% endblock %}

{% block title %}{{ index.name }} : 지수 : Havister{% endblock %}

{% block tab_month %}active{% endblock %}

{% block content_body %}
    {% if detail_list %}
    <!-- Content body -->
    <div class="container">
      <h2 class="section-header">월간 차트<sup><small> &nbsp; 기간별 변동성과 성장률 확인</small></sup></h2>
      <div id="chart" class="chart">
      </div>

      {% if alpha_list %}
      <table class="table table-hover">
      <thead>
        <tr>
          <th class="active">기간</th>
          <th>최고 지수</th>
          <th>: 수익률</th>
          <th>최저 지수</th>
          <th>: 수익률</th>
          <th>마감 지수</th>
          <th>: 수익률</th>
        </tr>
      </thead>
      <tbody class="text-right">
        {% for a in alpha_list %}
        <tr>
          <td class="active">{{ a.year }}년</td>
          <td>{{ a.high|intcomma }}</td>
          <td class="{% if a.high_change > 0 %}text-up{% elif a.high_change < 0 %}text-down{% endif %}">
            {% if a.high_change > 0 %}+{% endif %}{{ a.high_change|intcomma }}%</td>
          <td>{{ a.low|intcomma }}</td>
          <td class="{% if a.low_change > 0 %}text-up{% elif a.low_change < 0 %}text-down{% endif %}">
            {% if a.low_change > 0 %}+{% endif %}{{ a.low_change|intcomma }}%</td>
          <td>{{ a.close|intcomma }}</td>
          <td class="{% if a.close_change > 0 %}text-up{% elif a.close_change < 0 %}text-down{% endif %}">
            {% if a.close_change > 0 %}+{% endif %}{{ a.close_change|intcomma }}%</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      {% endif %}
    </div>
    {% endif %}
{% endblock content_body %}

{% block extra_script %}
    {% if detail_list %}
    <!-- Chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ko'});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn({type: 'date', label: 'Month'});
        data.addColumn({type: 'number', label: 'Point'});
        data.addColumn({type:'string', role:'style'});
        data.addColumn({type:'string', role:'annotation'});
        data.addColumn({type: 'string', role: 'tooltip'});
        data.addRows([
          {% for d in detail_list %}
          [{v:new Date({{ d.date|date:'Y,n,j' }}), f:'{{ d.date|date:'Y년 n월' }}'},
            {{ d.close }}, null, null,
            '{{ d.date|date:'Y년 n월' }}\n마감: {{ d.close|intcomma }}\n변화: {{ d.change|intcomma }}%'],
          {% endfor %}
        ]);

        {% if alpha_list %}
        // get annotation date
        var years = [];
        var first_dates = [];
        {% for a in alpha_list %}
        years.push('{{ a.year }}년');
        first_dates.push((new Date({{ a.first_date|date:'Y,n,j' }})).getTime());
        {% endfor %}
        var rows = data.getNumberOfRows();
        var ri = rows - 1;
        var len = years.length;
        // set annotation
        for (i = 0; i < len; i++) {
          for (; ri >= 0; ri--) {
            if (first_dates[i] === data.getValue(ri, 0).getTime()) {
              data.setValue(ri, 2, 'point { shape-type: circle; size: 5; visible: true');
              data.setValue(ri, 3, years[i]);
              break;
            }
          }
        }
        {% endif %}

        var options = {
          width: 970,
          height: 429,
          backgroundColor: 'white',
          chartArea: {left: 0, top: 0, width: '100%', height: 400},
          crosshair: {color: 'black', trigger: 'selection'},
          hAxis: {format: 'y년', viewWindow: {max: new Date({{ max_date|date:'Y,n,j' }})}},
          vAxis: {textPosition: 'in'},
          explorer: {axis: 'horizontal', keepInBounds: true, maxZoomIn: 0.25, maxZoomOut: 1.0, zoomDelta: 1.5},
          legend: {position: 'none'}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, options);
      }
    </script>
    {% endif %}
{% endblock extra_script %}

