{% extends 'base.html' %}

{% block meta %}
    <!-- Custom metas -->
    <meta name="description" content="Havister, 하비스터는 계절들의 순환을 테마로 금융정보를 제공합니다.">
    <meta name="keywords" content="Havister, Finance, Chart, Graph, 하비스터, 금융, 차트, 그래프">
{% endblock %}

{% block title %}Havister{% endblock %}

{% load staticfiles %}

{% block content %}
    <!-- Content -->
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Havister</h1>
        <p class="lead">봄이 오면 씨를 뿌리고, 가을이 오면 수확해야 합니다.<br>
          하비스터는 계절의 변화를 주시합니다.</p>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="section text-center">
            <h2>경기는 순환합니다.</h2>
            <p class="lead">
              봄이 지나면 경기가 정점에 오르고, 가을이 지나면 경기가 바닥에 이릅니다.<br>
              계절들의 순환과 비슷합니다.</p>
            <p><img src="{% static 'images/the-business-cycle.png' %}" alt="The Business Cycle Image"></p>
          </div>

          <div class="section text-center">
            <h2>투자 심리는 어떨까요?</h2>
            <p class="lead">
              봄이 지나 여름이 오면 흥분하며, 가을이 지나 겨울이 오면 절망에 빠집니다.<br>
              심리도 경기를 쫓아 순환합니다.</p>
            <p><img src="{% static 'images/investor-sentiment.png' %}" alt="Investor Sentiment Image"></p>
          </div>

          <div class="section text-center">
            <h2>언제 씨를 뿌려야 할까요?</h2>
            <p class="lead">
              겨울에 준비하고 봄에 씨를 뿌리세요. 그러면 가을에 수확할 수 있습니다.<br>
              기다리면, 겨울은 찾아오기 마련입니다.</p>
            <p><img src="{% static 'images/timing-for-investment.png' %}" alt="Timing for Investment Image"></p>
          </div>
        </div><!--/.panel-body -->
      </div><!--/.panel -->
    </div>
{% endblock content %}

